<%= render 'shared/header', title: "Re-enter credentials to authenticate" %>

<div class = 'row'>
  <div class = 'span4 well'>
    <%= form_tag(confirm_user_path, method:'post') do %>
      <%= label_tag(:username) %>
      <%= text_field_tag(:username) %>

      <%= label_tag(:password) %>
      <%= password_field_tag(:password) %>
      
      <br/>
      <br/>
        
      <%= submit_tag "Authenticate", class: 'btn btn-success' %>
        <br/>
        <br/>   
    <% end %>
  </div>
</div>