<div class = 'row'>
  <div class = 'span0 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
        <i class = 'icon-thumbs-up'></i>
      <% end %>
    <% end %>
 

  <br/>
  <br/>
    <%= "#{post.vote_popular} votes" %>
  <br/> 
  <br/>

    <% if logged_in? %>
       <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
        <i class = 'icon-thumbs-down'></i>
      <% end %>
    <% end %>
  </div>

  <div class = 'span8 well'>
    <%= render post.categories %>
    
    <h4><%= link_to post.title, post_path(post) %> </h4>
    <p><%= post.description %> </p>
    <span class = 'quiet'> posted by </span> <%= link_to "#{post.user.username}", user_path(post.user) %>
    <small> at <%= display_datetime(post.created_at) %> </small>
    <p>
      <%= link_to pluralize(post.comments.size, "comment"), post_path(post) %>
    </p>
  </div>
</div>