<%= render @post.categories %>
<p> <%= render 'shared/header', title: @post.title %> </p>


<div class = 'row'>
  <div class = 'span8'>
  <p><%= @post.description %> </p>
    <% if is_creator?(@post) %>
    <small> <%= link_to 'Edit Post', edit_post_path(@post) %> </small>
    <% end %>
 </div>
</div>
<br/>
<br/>
<hr/>

<%= render 'shared/posterror', object:@comment %>

<% if logged_in? %>
  <%= form_for [@post,@comment] do |f| %>
    <%= f.label "Post a comment" %>
    <%= f.text_area :body %> <br/>
    <%= f.submit "Leave comment", class: "btn btn-primary" %>
  <% end %>
 
  <% else %>
  <p> Please log in to leave a comment </p> 
<% end %>
<br/>

<h4 class = 'lead'> Comments </h4> <hr/>
<% @post.comments.each do |comment| %>
  <%= render 'comments/comments', comment: comment, show_post: false %>
<% end %>
